<% provide(:title, 'S\'inscrire')%>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :pseudo %>
            <%= f.text_field :pseudo %>

            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :password, "Mot de passe" %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
            <%= f.password_field :password_confirmation %>

            <%= f.submit "S'enregister", class: "btn btn-primary" %>
            <%= link_to("Déjà enregistré ?", "http://google.com") %>
        <% end %>
    </div>
</div>