<% provide(:title, 'S\'inscrire')%>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <%= form_for(@user) do |f| %>
            <%= f.label :pseudo %>
            <%= f.text_field :pseudo %>
            <% if @user.errors[:pseudo].any? %>
                <p class="error_right"><%= f.label @user.errors[:pseudo].first %></p>
            <% end %>

            <%= f.label :email %>
            <%= f.email_field :email %>
            <% if @user.errors[:email].any? %>
                <p class="error_right"><%= f.label @user.errors[:email].first %></p>
            <% end %>

            <%= f.label :password, "Mot de passe" %>
            <%= f.password_field :password %>
            <% if @user.errors[:password].any? %>
                <p class="error_right"><%= f.label @user.errors[:password].first %></p>
            <% end %>

            <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
            <%= f.password_field :password_confirmation %>
            <% if @user.errors[:password_confirmation].any? %>
                <p class="error_right"><%= @user.errors[:password_confirmation].first %></p>
            <% end %>

            <%= f.submit "S'enregister", class: "btn btn-primary" %>
            <%= link_to("Déjà enregistré ?", "http://google.com") %>
        <% end %>
    </div>
</div>