<% provide(:title, 'S\'inscrire') %>


<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
            <%= f.label :pseudo %>

            <!-- Nesting Starts  -->
            <div class="row">
                <div class="col-md-6">
                    <%= f.text_field :pseudo %>
                </div>
                <div class="col-md-6 error_right">
                    <% if @user.errors[:pseudo].any? %>
                        <%= label_tag @user.errors[:pseudo].first %>
                    <% end %>
                </div>
            </div>
            <%= f.label :email %>

            <!-- Nesting Starts  -->
            <div class="row">
                <div class="col-md-6">
                    <%= f.email_field :email%>
                </div>
                <div class="col-md-6 error_right">
                    <% if @user.errors[:email].any? %>
                        <%= label_tag @user.errors[:email].first %>
                    <% end %>
                </div>
            </div>
            <%= f.label :password%>

            <!-- Nesting Starts  -->
            <div class="row">
                <div class="col-md-6">
                    <%= f.password_field  :password%>
                </div>
                <div class="col-md-6 error_right">
                    <% if @user.errors[:password].any? %>
                        <%= label_tag @user.errors[:password].first %>
                    <% end %>
                </div>
            </div>
            <%= f.label :password_confirmation %>

            <!-- Nesting Starts  -->
            <div class="row">
                <div class="col-md-6">
                    <%= f.password_field  :password_confirmation%>
                </div>
                <div class="col-md-6 error_right">
                    <% if @user.errors[:password_confirmation].any? %>
                        <%= label_tag @user.errors[:password_confirmation].first %>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.submit "S'enregister", class: "btn btn-primary" %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center">
                    <%= link_to("Déjà enregistré ?", login_path) %>
                </div>
            </div>
            <% end %>
    </div>
</div>