<nav>
    <ul class="navul">
        <%= link_to "Accueil", root_path, class: "active" %>
        <%= link_to "Boutique", '#' %>
        <%= link_to "News", '#' %>
        <%= link_to image_tag('logo.png', id: "logo"), "#", id: "linklogo", remote: true %>
        <%= link_to "Forum", '#' %>
        <%= link_to "Voter", '#' %>
        <% if logged_in? %>
            <div class="dropdown">
                <p  clasclass="compte">
                    Compte <b class="caret"></b>
                </p>
                <ul class="dropdown-menu">
                    <li><%= link_to "Profile", user_url(current_user.pseudo) %></li>
                    <li><%= link_to "Options", '#' %></li>
                    <li class="divider"></li>
                    <li>
                        <%= link_to "Deconnexion", logout_path, method: "delete" %>
                    </li>
                </ul>
            </div>
        <% else %>
            <%= link_to "Connexion", login_path %>
        <% end %>
    </ul>
</nav>