<nav>
    <ul class="navul">
        <%= nav_link "Accueil", root_path %>
        <%= nav_link "Boutique", items_path %>
        <%= nav_link "News", '#' %>
        <%= link_to image_tag('logo.png', id: "logo"), "#", id: "linklogo", remote: true %>
        <%= nav_link "Forum", '#' %>
        <%= nav_link "Voter", '#' %>
        <% if logged_in? %>
            <%= content_tag(:div, class: current_page?(user_path(current_user.pseudo)) ? 'active dropdown' : 'dropdown') do %>
                <p class="compte">
                    Compte <b class="caret"></b>
                </p>

                <ul class="dropdown-menu">
                    <li><%= nav_link "Profile", user_path(current_user.pseudo) %></li>
                    <li><%= nav_link "Options", '#' %></li>
                    <li class="divider"></li>
                    <li>
                        <%= link_to "Deconnexion", logout_path, method: "delete" %>
                    </li>
                </ul>
            <% end %>
        <% else %>
            <%= link_to "Connexion", login_path %>
        <% end %>
    </ul>
</nav>