<nav>
    <ul>
        <%= link_to "Accueil", '#', class: "active" %>
        <%= link_to "Boutique", '#' %>
        <%= link_to "News", '#' %>
        <%= link_to image_tag('logo.png', id: "logo"), "#", id: "linklogo", remote: true %>
        <%= link_to "Forum", '#' %>
        <%= link_to "Voter", '#' %>
        <%= link_to "Connexion", '#' %>
    </ul>
</nav>